body {
  //background: #3d3d3d;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.left-column {
  grid-column: 1/4;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    span {
      font-weight: 900;
      font-size: 70px;
      color: #fc8414;
      //text-shadow: 5px 0 3px black, -5x 0 3px black, 0 5px 3px black, 0 -5px 3px black,
      //1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 5px #000;
    }
  }

  .typesOfPizza {
    width: 95%;
    padding: 20px;
    display: grid;
    border: red dot-dash;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
    .typeOfPizza {
      width: 90%;
      border-radius: 11px;
      border: solid #ffcc9c;
      box-shadow: 2px 0 3px #ffcc9c, 0 2px 3px #ffcc9c, -2px 0 3px #ffcc9c, 0 -2px 3px #ffcc9c;
    }
      .typeOfPizza-img {
        img {
          padding: 1.5vw;
          width: 80%;
        }
        //box-shadow: inset 0 0 1200px black;
      }
      .typeOfPizza-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: 600;
      }
    .currentPizza {
      width: 95%;
      border-radius: 11px;
      border: solid #fcb16a;
      box-shadow: 2px 0 13px #fcb16a, 0 2px 13px #fcb16a, -2px 0 13px #fcb16a, 0 -2px 13px #fcb16a;
    }


.right-column {
  grid-column: 4/6;
  margin-top: 48px;
  padding: 12px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 25px;
  border: solid #f0ebe6;
  box-shadow: 2px 0 13px #f0ebe6, 0 2px 13px #f0ebe6, -2px 0 13px #f0ebe6, 0 -2px 13px #f0ebe6;
}
  .sizeOfPizza {
    width: 100%;
    span {
      font-size: 24px;
      font-weight: 700;
    }
  }
    .selector-size {
      margin: 12px;
       input {
         display: none;
        }
      &-switch {
        &:before {
          content: attr(data-label-left);
          display: inline-block;
          background: white;
          border-radius: 25px;
          width: 49%;
          height: 28px;
          position: absolute;
          top: 4px;
          left: 4px;
          text-align: center;
          font-size: 18px;
          line-height: 28px;
        }
        &:after {
          content: attr(data-label-right);
          display: inline-block;
          border-radius: 25px;
          width: 49%;
          height: 28px;
          position: absolute;
          top: 4px;
          right: 4px;
          z-index: 5;
          text-align: center;
          line-height: 28px;
          font-size: 18px;
        }
        &-big {
          &:before {
            background: none;
          }
          &:after {
            background: white;
          }
        }
        display: inline-block;
        height: 36px;
        width: 100%;
        position: relative;
        border-radius: 25px;
        background: #f0ebe6;
      }
    }
  .toppings{
    span {
      font-size: 24px;
      font-weight: 700;
    }
    &-items {
      width: 100%;
      margin: 16px 0px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      &-item {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 33%;
        margin: 4px;
        border-radius: 11px;
        border: solid #ffcc9c;
        box-shadow: 2px 0 3px #ffcc9c, 0 2px 3px #ffcc9c, -2px 0 3px #ffcc9c, 0 -2px 3px #ffcc9c;
        &-img {
          img {
            width: 90%;
            height: 7vw;
          }
        }
        span {
          font-size: 17px;
          font-weight: 500;
        }
      }
    }
  }
  .currentTopping {
    width: 35%;
    border-radius: 11px;
    border: solid #fcb16a;
    box-shadow: 2px 0 13px #fcb16a, 0 2px 13px #fcb16a, -2px 0 13px #fcb16a, 0 -2px 13px #fcb16a;
  }
  .buttonCalculate {
    margin: 16px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 45%;
      padding: 24px;
      background: #fc8414;
      border-radius: 25px;
      font-size: 20px;
      color: white;
    }
  }
