@import url(../styles/global.css);
@import url(../styles/fonts.css);
@import url(../styles/utils.css);
/* line 15, style.scss */
::-webkit-scrollbar {
  width: 0; }

/* line 18, style.scss */
body {
  font-family: 'Inter', sans-serif;
  margin: 0; }

/* line 22, style.scss */
.blue {
  color: #306FF5; }

/* line 26, style.scss */
header {
  z-index: 10;
  width: 100vw;
  height: 56px;
  position: fixed;
  display: grid;
  padding-top: 24px;
  grid-template-columns: repeat(14, 1fr); }
  @media (max-width: 1023px) {
    /* line 26, style.scss */
    header {
      height: 90px;
      padding-top: 16px;
      grid-template-columns: repeat(12, 1fr); } }
  @media (max-width: 424px) {
    /* line 26, style.scss */
    header {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: 12px 48px 16px 484px 60px;
      height: 620px; } }

@media (min-width: 424.1px) {
  /* line 45, style.scss */
  .header-open {
    display: none; } }

@media (max-width: 424px) {
  /* line 45, style.scss */
  .header-open {
    background: #FFFFFF;
    height: 620px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    grid-column: 1/-1; } }

@media (max-width: 424px) {
  /* line 56, style.scss */
  .header-open-element-close {
    display: flex;
    flex-direction: row-reverse;
    grid-row: 2/3;
    grid-column: -2/-1;
    padding: 12px; } }

@media (max-width: 424px) {
  /* line 65, style.scss */
  .header-open-element-center {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    grid-row: 4/5;
    grid-column: 3/7;
    gap: 64px; }
    /* line 74, style.scss */
    .header-open-element-center a {
      text-decoration: none; } }

@media (max-width: 424px) {
  /* line 78, style.scss */
  .header-open-element-center-logo {
    width: 120px; }
    /* line 81, style.scss */
    .header-open-element-center-logo-t {
      font-size: 20px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: -0.154px; }
      /* line 86, style.scss */
      .header-open-element-center-logo-t a {
        color: #2D66EE; } }

@media (max-width: 424px) {
  /* line 92, style.scss */
  .header-open-element-center-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 24px; }
    /* line 99, style.scss */
    .header-open-element-center-menu-t {
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 144%;
      letter-spacing: 0.326px; }
      /* line 105, style.scss */
      .header-open-element-center-menu-t a {
        color: #101828; } }

@media (max-width: 424px) {
  /* line 111, style.scss */
  .header-open-element-center-link {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 14px;
    margin-top: -24px; }
    /* line 118, style.scss */
    .header-open-element-center-link-tel {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      gap: 8px; }
      /* line 125, style.scss */
      .header-open-element-center-link-tel-t {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px; }
      /* line 131, style.scss */
      .header-open-element-center-link-tel-this {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.154px; }
    /* line 139, style.scss */
    .header-open-element-center-link-email {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 8px; }
      /* line 144, style.scss */
      .header-open-element-center-link-email-t {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px; }
      /* line 150, style.scss */
      .header-open-element-center-link-email-this {
        /*font-family: SF Pro Text;*/
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.154px; }
    /* line 159, style.scss */
    .header-open-element-center-link-image {
      width: 24px; } }

/* line 167, style.scss */
.header {
  grid-column: 2/-3;
  background: #FFFFFF;
  max-height: 52px;
  padding: 16px 24px;
  border-radius: 12px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  display: inline-flex;
  align-items: center;
  justify-content: space-between; }
  @media (max-width: 1023px) {
    /* line 167, style.scss */
    .header {
      grid-column: 1/-1;
      max-height: 90px;
      padding: 25px 32px;
      display: grid;
      grid-template-columns: repeat(12, 1fr); } }
  @media (max-width: 767px) {
    /* line 167, style.scss */
    .header {
      padding: 16px; } }
  @media (max-width: 424px) {
    /* line 167, style.scss */
    .header {
      display: none; } }
  /* line 190, style.scss */
  .header a {
    text-decoration: none; }
  /* line 193, style.scss */
  .header-element-three-bars {
    display: none; }
    @media (max-width: 1023px) {
      /* line 193, style.scss */
      .header-element-three-bars {
        display: inline-flex;
        grid-column: 1/2;
        width: 59px;
        height: 40px; } }
  /* line 202, style.scss */
  .header-element-logo {
    width: 120px; }
    @media (max-width: 1023px) {
      /* line 202, style.scss */
      .header-element-logo {
        margin-left: 50px;
        grid-column: 6/10; } }
    @media (max-width: 767px) {
      /* line 202, style.scss */
      .header-element-logo {
        margin-left: -32px; } }
    /* line 211, style.scss */
    .header-element-logo-t {
      font-size: 20px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: -0.154px; }
      /* line 216, style.scss */
      .header-element-logo-t a {
        color: #2D66EE; }
  /* line 221, style.scss */
  .header-element-menu {
    width: 324px;
    display: flex;
    align-items: flex-start;
    gap: 24px; }
    @media (max-width: 1023px) {
      /* line 221, style.scss */
      .header-element-menu {
        display: none; } }
    /* line 229, style.scss */
    .header-element-menu-t {
      font-size: 14px;
      /*font-family: "SF Pro Text";*/
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: -0.154px; }
      /* line 237, style.scss */
      .header-element-menu-t a {
        color: #101828; }
  /* line 242, style.scss */
  .header-element-link {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    font-size: 14px; }
    @media (max-width: 1023px) {
      /* line 242, style.scss */
      .header-element-link {
        grid-column-end: -1; } }
    /* line 250, style.scss */
    .header-element-link-tel {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 8px; }
      @media (max-width: 1439px) {
        /* line 250, style.scss */
        .header-element-link-tel {
          display: none; } }
      /* line 258, style.scss */
      .header-element-link-tel-s {
        /*font-family: SF Pro Text;*/
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.154px;
        padding-right: 16px; }
    /* line 268, style.scss */
    .header-element-link-email {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 16px; }
      @media (max-width: 1023px) {
        /* line 268, style.scss */
        .header-element-link-email {
          gap: 8px; } }
      /* line 276, style.scss */
      .header-element-link-email-s {
        /*font-family: SF Pro Text;*/
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.154px; }
      @media (max-width: 767px) {
        /* line 268, style.scss */
        .header-element-link-email {
          display: none; } }
    /* line 288, style.scss */
    .header-element-link-image {
      width: 24px; }

@keyframes up {
  0% {
    background-position-y: 68vw; }
  4% {
    background-position-y: 49vw; }
  29% {
    background-position-y: 44vw; }
  37% {
    background-position-y: 6vw; }
  62% {
    background-position-y: 1vw; }
  70% {
    background-position-y: -37vw; }
  95% {
    background-position-y: -42vw; }
  100% {
    background-position-y: -61vw; } }

/* line 320, style.scss */
.activity {
  overflow: hidden;
  position: relative;
  background-color: #F2F4F7;
  width: 100vw;
  height: 900px;
  display: grid;
  grid-template-columns: repeat(14, 1fr); }
  /* line 321, style.scss */
  .activity-left::before {
    z-index: 0;
    content: '';
    display: flex;
    height: 200%;
    width: 107%;
    position: absolute;
    transform: rotate(-12deg);
    background-image: url("../../../images/left_column.png");
    background-size: 19.5vw auto;
    background-repeat: repeat-y;
    background-position-x: calc(100% - 19.5vw - 32px);
    background-position-y: 68vw;
    animation: up 6s linear infinite; }
    @media (max-width: 1439px) {
      /* line 321, style.scss */
      .activity-left::before {
        background-size: 16.5vw auto;
        background-position-x: calc(100% - 16.5vw - 24px); } }
    @media (max-width: 1023px) {
      /* line 321, style.scss */
      .activity-left::before {
        background-position-x: calc(100% - 16.5vw - 20px); } }
    @media (max-width: 767px) {
      /* line 321, style.scss */
      .activity-left::before {
        background-size: 32.5vw auto;
        background-position-x: calc(100% - 32.5vw - 16px); } }
  /* line 347, style.scss */
  .activity-right::after {
    content: '';
    display: flex;
    height: 200%;
    width: 107%;
    position: absolute;
    transform: rotate(-12deg);
    background-image: url("../../../images/right_column.png");
    background-size: 19.5vw auto;
    background-repeat: repeat-y;
    background-position-x: calc(100%);
    background-position-y: 68vw;
    animation-name: up;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse; }
    @media (max-width: 1439px) {
      /* line 347, style.scss */
      .activity-right::after {
        background-size: 16.5vw auto;
        background-position-x: calc(100%); } }
    @media (max-width: 767px) {
      /* line 347, style.scss */
      .activity-right::after {
        background-size: 32.5vw auto;
        background-position-x: calc(100%); } }
  @media (max-width: 1439px) {
    /* line 320, style.scss */
    .activity {
      height: 762px;
      grid-template-rows: 138px 204px 292px 32px;
      gap: 32px; } }
  @media (max-width: 1023px) {
    /* line 320, style.scss */
    .activity {
      grid-template-columns: repeat(18, 1fr); } }
  @media (max-width: 767px) {
    /* line 320, style.scss */
    .activity {
      background-position: 100% 90%;
      height: 1145px;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: 80px 204px 414px 292px 32px; } }
  /* line 394, style.scss */
  .activity-info {
    z-index: 1;
    grid-column: 2/8;
    margin-top: 160px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start; }
    @media (max-width: 1439px) {
      /* line 394, style.scss */
      .activity-info {
        grid-column: 2/9;
        grid-row: 2/3;
        margin: 0px; } }
    @media (max-width: 1023px) {
      /* line 394, style.scss */
      .activity-info {
        grid-column: 2/11; } }
    @media (max-width: 767px) {
      /* line 394, style.scss */
      .activity-info {
        background-color: #F2F4F7;
        box-shadow: 0px 0px 16px 16px #F2F4F7;
        grid-column: 1/-1;
        width: 100vw;
        grid-row: 1/3;
        padding: 100px 10px 0px 24px; } }
    /* line 417, style.scss */
    .activity-info-title {
      color: #101828;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 144%;
      letter-spacing: 0.326px; }
      @media (max-width: 1023px) {
        /* line 417, style.scss */
        .activity-info-title {
          font-size: 28px; } }
    /* line 428, style.scss */
    .activity-info-sub {
      color: #101828;
      /*font-family: SF Pro Text;*/
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.24px; }
  /* line 438, style.scss */
  .activity-leave-contacts-back {
    display: none; }
    @media (max-width: 767px) {
      /* line 438, style.scss */
      .activity-leave-contacts-back {
        z-index: 2;
        display: grid;
        grid-column: 1/-1;
        grid-row: -3/-1;
        background-color: #F2F4F7;
        box-shadow: 0px 0px 32px 16px #F2F4F7; } }
  /* line 449, style.scss */
  .activity-leave-contacts {
    z-index: 3;
    grid-column: 2/9;
    min-width: 694px;
    margin-right: 24px;
    margin-bottom: 270px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16), 0px 0px 2px 0px rgba(0, 0, 0, 0.08);
    display: inline-flex;
    padding: 24px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }
    @media (max-width: 1439px) {
      /* line 449, style.scss */
      .activity-leave-contacts {
        grid-column: 2/10;
        min-width: 0px;
        max-width: 586px;
        grid-row: 3/4;
        margin: 0px;
        padding: 32px;
        gap: 32px; } }
    @media (max-width: 1023px) {
      /* line 449, style.scss */
      .activity-leave-contacts {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        grid-column: 2/11;
        max-width: 440px;
        gap: 16px; } }
    @media (max-width: 767px) {
      /* line 449, style.scss */
      .activity-leave-contacts {
        grid-column: 1/8;
        width: 90vw;
        grid-row: 4/5;
        padding: 32px 32px 32px 32px;
        margin-left: 24px;
        margin-right: 8px; } }
    /* line 489, style.scss */
    .activity-leave-contacts span {
      color: #101828;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.38px; }
      @media (max-width: 1023px) {
        /* line 489, style.scss */
        .activity-leave-contacts span {
          margin-top: -16px;
          font-size: 16px; } }
    /* line 501, style.scss */
    .activity-leave-contacts-form {
      display: flex;
      align-items: center;
      gap: 24px; }
      @media (max-width: 1439px) {
        /* line 501, style.scss */
        .activity-leave-contacts-form {
          display: grid;
          grid-template-columns: repeat(10, 1fr); } }
      @media (max-width: 1439px) {
        /* line 509, style.scss */
        .activity-leave-contacts-form-sub {
          grid-column: 1/8;
          display: flex;
          justify-content: space-between; } }
      @media (max-width: 1023px) {
        /* line 509, style.scss */
        .activity-leave-contacts-form-sub {
          grid-column: 1/11;
          display: flex;
          flex-direction: column; } }
      /* line 520, style.scss */
      .activity-leave-contacts-form-sub label {
        color: #667085;
        /*font-family: SF Pro Text;*/
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.078px; }
      /* line 529, style.scss */
      .activity-leave-contacts-form-sub input {
        color: #101828;
        /*font-family: SF Pro Text;*/
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.408px; }
      /* line 539, style.scss */
      .activity-leave-contacts-form-button {
        display: flex;
        align-items: flex-start; }
        @media (max-width: 1439px) {
          /* line 539, style.scss */
          .activity-leave-contacts-form-button {
            grid-column: -1/-4; } }
        @media (max-width: 1023px) {
          /* line 539, style.scss */
          .activity-leave-contacts-form-button {
            grid-column: 1/6; } }
        /* line 548, style.scss */
        .activity-leave-contacts-form-button button {
          color: #FFF;
          /*font-family: SF Pro Text;*/
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 18px;
          letter-spacing: -0.154px;
          appearance: none;
          border: 0;
          border-radius: 8px;
          background: #2D66EE;
          width: 132px;
          height: 58px;
          padding: 11px 24px;
          word-break: break-word;
          text-align: left; }

/* line 571, style.scss */
.development-cycle {
  background-color: #ffffff;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(14, 1fr); }
  @media (max-width: 1439px) {
    /* line 571, style.scss */
    .development-cycle {
      grid-template-columns: repeat(18, 1fr);
      height: 532px; } }
  @media (max-width: 767px) {
    /* line 571, style.scss */
    .development-cycle {
      grid-template-columns: repeat(8, 1fr);
      height: 848px; } }
  /* line 584, style.scss */
  .development-cycle-title {
    grid-column: 2/8;
    gap: 24px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 0px 0px 0px; }
    @media (max-width: 1439px) {
      /* line 584, style.scss */
      .development-cycle-title {
        grid-column: 2/10; } }
    @media (max-width: 1023px) {
      /* line 584, style.scss */
      .development-cycle-title {
        padding-top: 32px; } }
    /* line 597, style.scss */
    .development-cycle-title-t {
      color: #101828;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 144%;
      letter-spacing: 0.326px; }
      @media (max-width: 1023px) {
        /* line 597, style.scss */
        .development-cycle-title-t {
          font-size: 28px; } }
    /* line 608, style.scss */
    .development-cycle-title-s {
      color: #101828;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.24px; }
  /* line 618, style.scss */
  .development-cycle-technologies {
    grid-column: 2/8;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px; }
    @media (max-width: 1439px) {
      /* line 618, style.scss */
      .development-cycle-technologies {
        grid-column: 2/10; } }
    @media (max-width: 767px) {
      /* line 618, style.scss */
      .development-cycle-technologies {
        grid-column: 1/7;
        gap: 0px; } }
    /* line 631, style.scss */
    .development-cycle-technologies p {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px; }
    /* line 637, style.scss */
    .development-cycle-technologies-t {
      color: #101828;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.38px; }
    /* line 646, style.scss */
    .development-cycle-technologies-s {
      color: #344054;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: -0.408px;
      padding-right: 140px; }
      /* line 655, style.scss */
      .development-cycle-technologies-s .separator {
        color: #2D66EE; }
      @media (max-width: 1439px) {
        /* line 646, style.scss */
        .development-cycle-technologies-s {
          font-size: 14px; } }
  /* line 663, style.scss */
  .development-cycle-list {
    grid-column: -7/-4;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 70px; }
    @media (max-width: 1439px) {
      /* line 663, style.scss */
      .development-cycle-list {
        grid-column: -9/-3;
        padding-top: 112px; } }
    @media (max-width: 1023px) {
      /* line 663, style.scss */
      .development-cycle-list {
        padding-top: 82px; } }
    @media (max-width: 767px) {
      /* line 663, style.scss */
      .development-cycle-list {
        grid-column: 1/6;
        padding-left: 3.75vw;
        padding-top: 0px;
        margin-top: -16px; } }
    /* line 682, style.scss */
    .development-cycle-list ul li {
      display: flex;
      padding: 12px 0px;
      align-items: center;
      gap: 12px; }
      /* line 687, style.scss */
      .development-cycle-list ul li a {
        text-decoration: none;
        color: #1D2939;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.38px; }
        @media (max-width: 1023px) {
          /* line 687, style.scss */
          .development-cycle-list ul li a {
            font-size: 18px; } }

/* line 704, style.scss */
.industries {
  background: #F2F4F7;
  height: 552px;
  display: grid;
  align-items: stretch;
  gap: 24px;
  grid-template-columns: repeat(14, 1fr);
  padding: 40px 0px 60px 0px; }
  @media (max-width: 1023px) {
    /* line 704, style.scss */
    .industries {
      height: 670px;
      grid-template-columns: repeat(18, 1fr);
      padding: 30px 0px 20px 0px;
      gap: 0px;
      align-items: flex-start; } }
  @media (max-width: 767px) {
    /* line 704, style.scss */
    .industries {
      grid-template-columns: repeat(8, 1fr);
      height: 600px;
      padding: 16px; } }
  /* line 724, style.scss */
  .industries-logo {
    grid-column: 2/7;
    display: inline-flex;
    align-items: center;
    color: #101828;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 144%;
    letter-spacing: 0.326px; }
    @media (max-width: 1023px) {
      /* line 724, style.scss */
      .industries-logo {
        grid-column: 2/10;
        padding: 16px 0px;
        font-size: 28px; } }
    @media (max-width: 767px) {
      /* line 724, style.scss */
      .industries-logo {
        grid-column: 1/-1;
        padding: 8px 0px 8px 16px;
        font-size: 26px; } }
  /* line 745, style.scss */
  .industries-list {
    grid-column: 2/-2;
    height: 280px; }
    @media (max-width: 1023px) {
      /* line 745, style.scss */
      .industries-list {
        height: 456px;
        margin-top: -32px; } }
    @media (max-width: 767px) {
      /* line 745, style.scss */
      .industries-list {
        grid-column: 1/-1;
        height: 488px;
        margin-top: 0px; } }
    /* line 757, style.scss */
    .industries-list ul {
      display: inline-flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap; }
      @media (max-width: 767px) {
        /* line 757, style.scss */
        .industries-list ul {
          align-items: stretch; } }
      /* line 765, style.scss */
      .industries-list ul li {
        display: flex;
        padding: 8px 0px;
        align-items: center;
        width: 26.5vw;
        gap: 12px; }
        @media (max-width: 1023px) {
          /* line 765, style.scss */
          .industries-list ul li {
            width: 40vw;
            gap: 8px; } }
        /* line 778, style.scss */
        .industries-list ul li a {
          text-decoration: none;
          color: #101828;
          font-size: 17px;
          font-style: normal;
          font-weight: 500;
          line-height: 22px;
          letter-spacing: -0.408px; }
          @media (max-width: 767px) {
            /* line 778, style.scss */
            .industries-list ul li a {
              font-size: 14px; } }
    /* line 793, style.scss */
    .industries-list-image {
      border-radius: 100px;
      background: #FFF;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
      display: flex;
      padding: 10px;
      align-items: flex-start;
      height: 44px;
      width: 44px; }

/* line 806, style.scss */
.proud-of {
  height: 830px;
  width: 100vw;
  background: #F2F4F7;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  padding: 40px 0px 64px 0px; }
  @media (max-width: 1439px) {
    /* line 806, style.scss */
    .proud-of {
      grid-template-columns: repeat(18, 1fr);
      grid-template-rows: 40px 40px 24px 40px 24px 52px 36px 40px 32px 60px 32px 22px 32px 24px 32px 53px 32px 40px 45px;
      height: 700px;
      padding: 0px; } }
  @media (max-width: 767px) {
    /* line 806, style.scss */
    .proud-of {
      padding: 16px 16px 75px 16px;
      height: 1043px;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: 32px 32px 60px 32px 60px 32px 225px 32px 40px 20px 60px 20px 235px 32px 40px; } }
  /* line 825, style.scss */
  .proud-of-logo {
    grid-column: 2/14;
    padding-right: 43vw;
    color: #101828;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 144%;
    letter-spacing: 0.326px; }
    @media (max-width: 1439px) {
      /* line 825, style.scss */
      .proud-of-logo {
        grid-column: 2/-2;
        grid-row: 2/3;
        font-size: 28px; } }
    @media (max-width: 767px) {
      /* line 825, style.scss */
      .proud-of-logo {
        grid-column: 1/8;
        grid-row: 1/2;
        padding: 0px; } }
  /* line 845, style.scss */
  .proud-of-suplogo {
    grid-column: 2/14;
    padding-right: 43vw;
    padding-top: 24px;
    padding-bottom: 40px;
    color: #101828;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.24px; }
    @media (max-width: 1439px) {
      /* line 845, style.scss */
      .proud-of-suplogo {
        grid-column: 2/-2;
        grid-row: 4/5;
        padding: 0px 35vw 0px 0px;
        font-size: 14px; } }
    @media (max-width: 767px) {
      /* line 845, style.scss */
      .proud-of-suplogo {
        grid-column: 1/8;
        grid-row: 3/4;
        padding: 0px 12px 0px 0px;
        font-size: 14px; } }
  /* line 869, style.scss */
  .proud-of-projects {
    grid-column: 2/10;
    height: 58px;
    margin-left: -40px; }
    @media (max-width: 1439px) {
      /* line 869, style.scss */
      .proud-of-projects {
        grid-column: 2/-2;
        grid-row: 6/7;
        display: flex;
        justify-content: stretch;
        align-items: flex-start; } }
    @media (max-width: 767px) {
      /* line 869, style.scss */
      .proud-of-projects {
        grid-column: 1/9;
        grid-row: 5/6;
        padding-right: 60px;
        height: 60px; } }
    /* line 886, style.scss */
    .proud-of-projects ul {
      display: inline-flex;
      justify-content: stretch;
      align-items: center; }
      @media (max-width: 767px) {
        /* line 886, style.scss */
        .proud-of-projects ul {
          flex-wrap: wrap;
          gap: 12px; } }
      /* line 894, style.scss */
      .proud-of-projects ul li {
        display: flex;
        padding: 16px;
        align-items: center;
        color: #1D2939;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        /* 129.412% */
        letter-spacing: -0.408px; }
        @media (max-width: 1439px) {
          /* line 894, style.scss */
          .proud-of-projects ul li {
            font-size: 14px; } }
        @media (max-width: 767px) {
          /* line 894, style.scss */
          .proud-of-projects ul li {
            padding: 0px 20px 0px 0px; } }
  /* line 913, style.scss */
  .proud-of-button {
    grid-column: -5/-3;
    margin-left: 32px;
    margin-top: 24px;
    display: flex;
    align-items: flex-start; }
    @media (max-width: 1439px) {
      /* line 913, style.scss */
      .proud-of-button {
        grid-column: -7/-2;
        grid-row: 8/9;
        margin-top: 0px;
        padding: 0px; } }
    @media (max-width: 767px) {
      /* line 913, style.scss */
      .proud-of-button {
        grid-column: 2/8;
        grid-row: -2/-1;
        padding: 0px 16px; } }
    /* line 930, style.scss */
    .proud-of-button input {
      height: 40px;
      border: none;
      padding: 11px 24px;
      border-radius: 8px;
      background: #2D66EE;
      color: #FFF;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      /* 128.571% */
      letter-spacing: -0.154px; }
  /* line 944, style.scss */
  .proud-of-element-t {
    padding-top: 40px;
    grid-column: 2/8;
    display: flex;
    flex-direction: column; }
    @media (max-width: 1439px) {
      /* line 944, style.scss */
      .proud-of-element-t {
        grid-column: 2/-7;
        padding-top: 0px;
        grid-row: 8/11; } }
    @media (max-width: 767px) {
      /* line 944, style.scss */
      .proud-of-element-t {
        grid-column: 1/9;
        grid-row: 9/12; } }
    /* line 958, style.scss */
    .proud-of-element-t-t {
      height: 84px;
      color: #101828;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 144%;
      /* 51.84px */
      letter-spacing: 0.326px;
      padding-bottom: 32px; }
      @media (max-width: 1439px) {
        /* line 958, style.scss */
        .proud-of-element-t-t {
          font-size: 28px;
          height: 72px; } }
      @media (max-width: 767px) {
        /* line 958, style.scss */
        .proud-of-element-t-t {
          height: 60px;
          padding-bottom: 20px; } }
    /* line 976, style.scss */
    .proud-of-element-t-sup {
      color: #101828;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      /* 133.333% */
      letter-spacing: -0.24px;
      height: 60px; }
      @media (max-width: 1439px) {
        /* line 976, style.scss */
        .proud-of-element-t-sup {
          font-size: 14px;
          padding-top: 0px;
          margin-right: 8px; } }
      @media (max-width: 767px) {
        /* line 976, style.scss */
        .proud-of-element-t-sup {
          margin-right: 0px; } }
  /* line 994, style.scss */
  .proud-of-element-about {
    grid-column: 2/8;
    display: flex;
    flex-direction: column; }
    @media (max-width: 1439px) {
      /* line 994, style.scss */
      .proud-of-element-about {
        grid-column: 2/10;
        grid-row: 12/19; } }
    @media (max-width: 767px) {
      /* line 994, style.scss */
      .proud-of-element-about {
        grid-column: 1/8;
        grid-row: 13/14; } }
    /* line 1006, style.scss */
    .proud-of-element-about-1 {
      padding-top: 40px;
      padding-right: 10vw;
      height: 62px;
      color: #475467;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      /* 129.412% */
      letter-spacing: -0.408px; }
      @media (max-width: 1439px) {
        /* line 1006, style.scss */
        .proud-of-element-about-1 {
          font-size: 14px;
          padding-top: 0px;
          height: 22px; } }
      @media (max-width: 767px) {
        /* line 1006, style.scss */
        .proud-of-element-about-1 {
          padding: 12px 0px 0px 0px; } }
    /* line 1025, style.scss */
    .proud-of-element-about-2 {
      padding-top: 40px;
      padding-right: 24vw;
      height: 64px;
      display: flex;
      align-items: flex-start;
      gap: 32px;
      color: #101828;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      /* 133.333% */
      letter-spacing: -0.24px; }
      @media (max-width: 1439px) {
        /* line 1025, style.scss */
        .proud-of-element-about-2 {
          font-size: 14px;
          padding-top: 32px;
          height: 56px; } }
      @media (max-width: 767px) {
        /* line 1025, style.scss */
        .proud-of-element-about-2 {
          padding-right: 84px; } }
      /* line 1046, style.scss */
      .proud-of-element-about-2 div {
        display: flex;
        align-items: center; }
        /* line 1049, style.scss */
        .proud-of-element-about-2 div span {
          padding: 6px; }
        /* line 1052, style.scss */
        .proud-of-element-about-2 div img {
          height: 24px;
          width: 24px; }
    /* line 1058, style.scss */
    .proud-of-element-about-3 {
      padding-top: 40px;
      padding-right: 24vw;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      height: 100px;
      gap: 8px; }
      @media (max-width: 1439px) {
        /* line 1058, style.scss */
        .proud-of-element-about-3 {
          padding-top: 32px;
          height: 85px;
          padding-right: 11vw; } }
      @media (max-width: 767px) {
        /* line 1058, style.scss */
        .proud-of-element-about-3 {
          padding-right: 84px; } }
      /* line 1074, style.scss */
      .proud-of-element-about-3-1 {
        color: #101828;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 144%;
        /* 34.56px */
        letter-spacing: 0.326px; }
        @media (max-width: 1439px) {
          /* line 1074, style.scss */
          .proud-of-element-about-3-1 {
            font-size: 20px; } }
        /* line 1084, style.scss */
        .proud-of-element-about-3-1 span {
          padding: 0px 40px 0px 4px; }
      /* line 1088, style.scss */
      .proud-of-element-about-3-2 {
        color: #667085;
        display: flex;
        justify-content: flex-start;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        /* 123.077% */
        letter-spacing: -0.078px; }
        @media (max-width: 1439px) {
          /* line 1088, style.scss */
          .proud-of-element-about-3-2 {
            font-size: 12px; } }
        /* line 1100, style.scss */
        .proud-of-element-about-3-2 span {
          padding: 0px 40px 0px 4px; }
    /* line 1105, style.scss */
    .proud-of-element-about-4 {
      padding: 40px 24px 64px 0px;
      display: inline-flex; }
      @media (max-width: 1439px) {
        /* line 1105, style.scss */
        .proud-of-element-about-4 {
          padding: 32px 5vw 45px 0px; } }
      @media (max-width: 767px) {
        /* line 1105, style.scss */
        .proud-of-element-about-4 {
          padding: 32px 84px 0px 0px; } }
      /* line 1114, style.scss */
      .proud-of-element-about-4 button {
        background-color: transparent;
        border: none; }
  /* line 1120, style.scss */
  .proud-of-image {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: -8/-2;
    padding: 40px 0px 286px 0px;
    height: 554px; }
    @media (max-width: 1439px) {
      /* line 1120, style.scss */
      .proud-of-image {
        grid-column: -10/-2;
        grid-row: 12/18;
        padding: 32px 24px 45px 16px;
        height: auto; } }
    @media (max-width: 767px) {
      /* line 1120, style.scss */
      .proud-of-image {
        grid-column: 1/9;
        grid-row: 7/8;
        padding: 0px; } }
    @media (max-width: 1439px) {
      /* line 1138, style.scss */
      .proud-of-image img {
        width: 50vw;
        height: auto; } }
    @media (max-width: 767px) {
      /* line 1138, style.scss */
      .proud-of-image img {
        width: 85vw;
        height: auto; } }

/* line 1151, style.scss */
.discuss-project {
  background-color: #2D66EE;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: 45px 35px 190px 35px 45px; }
  @media (max-width: 1439px) {
    /* line 1151, style.scss */
    .discuss-project {
      height: 428px;
      grid-template-columns: repeat(18, 1fr);
      grid-template-rows: 22px 80px 6px 26px 40px 32px 60px 130px 32px; } }
  @media (max-width: 767px) {
    /* line 1151, style.scss */
    .discuss-project {
      padding: 0px 16px;
      height: 670px;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: 32px 80px 32px 40px 20px 90px 20px 300px 56px; } }
  /* line 1168, style.scss */
  .discuss-project-noise {
    background-image: url("../../../images/Noise1.png");
    mix-blend-mode: overlay; }
    @media (max-width: 1439px) {
      /* line 1168, style.scss */
      .discuss-project-noise {
        background-image: url("../../../images/Noise2.png"); } }
    @media (max-width: 767px) {
      /* line 1168, style.scss */
      .discuss-project-noise {
        background-image: url("../../../images/Noise3.png"); } }
  /* line 1178, style.scss */
  .discuss-project-vector {
    grid-row: 2/-2;
    grid-column: 1/-1;
    background: url("../../../images/Frame 108.svg") no-repeat;
    background-size: cover; }
    @media (max-width: 1439px) {
      /* line 1178, style.scss */
      .discuss-project-vector {
        grid-row: 4/8;
        grid-column: 2/-2;
        background-size: 100%; } }
    @media (max-width: 767px) {
      /* line 1178, style.scss */
      .discuss-project-vector {
        grid-row: 6/7;
        grid-column: 1/-1; } }
  /* line 1194, style.scss */
  .discuss-project-text {
    grid-column: 2/8;
    grid-row: 3/4;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px; }
    @media (max-width: 1439px) {
      /* line 1194, style.scss */
      .discuss-project-text {
        grid-column: 2/10;
        grid-row: 2/6;
        gap: 32px; } }
    @media (max-width: 767px) {
      /* line 1194, style.scss */
      .discuss-project-text {
        grid-column: 1/-2;
        grid-row: 2/5; } }
    /* line 1210, style.scss */
    .discuss-project-text-t {
      padding-right: 21vw;
      color: #FFF;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 144%;
      /* 51.84px */
      letter-spacing: 0.326px; }
      @media (max-width: 1439px) {
        /* line 1210, style.scss */
        .discuss-project-text-t {
          font-size: 28px;
          padding-right: 17vw; } }
      @media (max-width: 767px) {
        /* line 1210, style.scss */
        .discuss-project-text-t {
          padding-right: 33vw; } }
    /* line 1226, style.scss */
    .discuss-project-text-sup {
      padding-right: 14vw;
      color: #FFF;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      /* 133.333% */ }
      @media (max-width: 1439px) {
        /* line 1226, style.scss */
        .discuss-project-text-sup {
          font-size: 14px;
          padding-right: 0vw; } }
  /* line 1239, style.scss */
  .discuss-project-form {
    grid-column: 8/14;
    grid-row: 3/4;
    display: inline-flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16), 0px 0px 2px 0px rgba(0, 0, 0, 0.08); }
    @media (max-width: 1439px) {
      /* line 1239, style.scss */
      .discuss-project-form {
        grid-column: 2/-4;
        grid-row: -4/-2; } }
    @media (max-width: 767px) {
      /* line 1239, style.scss */
      .discuss-project-form {
        grid-column: 1/-1;
        grid-row: -3/-2;
        padding: 36px 16px;
        align-items: center; } }
    /* line 1260, style.scss */
    .discuss-project-form-fields {
      margin-left: -48px;
      display: flex;
      align-items: flex-start;
      justify-content: stretch;
      gap: 24px; }
      @media (max-width: 1439px) {
        /* line 1260, style.scss */
        .discuss-project-form-fields {
          margin-left: 0; } }
      @media (max-width: 767px) {
        /* line 1260, style.scss */
        .discuss-project-form-fields {
          margin: -4vw 4vw 0px 4vw;
          flex-direction: column;
          gap: 0px; } }
      /* line 1274, style.scss */
      .discuss-project-form-fields-field {
        display: flex;
        padding: 12px 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        width: 19vw; }
        @media (max-width: 1439px) {
          /* line 1274, style.scss */
          .discuss-project-form-fields-field {
            width: 33.8vw; } }
        @media (max-width: 767px) {
          /* line 1274, style.scss */
          .discuss-project-form-fields-field {
            width: 84vw;
            margin-left: 3vw; } }
        /* line 1288, style.scss */
        .discuss-project-form-fields-field label {
          color: #667085;
          font-size: 13px;
          font-style: normal;
          font-weight: 500;
          line-height: 16px;
          /* 123.077% */
          letter-spacing: -0.078px; }
        /* line 1296, style.scss */
        .discuss-project-form-fields-field input {
          width: 19vw;
          color: #101828;
          font-size: 17px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          /* 129.412% */
          letter-spacing: -0.408px; }
          @media (max-width: 1439px) {
            /* line 1296, style.scss */
            .discuss-project-form-fields-field input {
              width: 33.8vw; } }
          @media (max-width: 767px) {
            /* line 1296, style.scss */
            .discuss-project-form-fields-field input {
              width: 84vw; } }
    /* line 1313, style.scss */
    .discuss-project-form-button {
      display: flex;
      margin-left: 23vw;
      padding: 11px 24px;
      align-items: flex-start;
      border-radius: 8px;
      background: #2D66EE; }
      @media (max-width: 1439px) {
        /* line 1313, style.scss */
        .discuss-project-form-button {
          margin-left: 48vw; } }
      @media (max-width: 767px) {
        /* line 1313, style.scss */
        .discuss-project-form-button {
          margin: 4vw 12.5vw 0vw 12.5vw;
          align-items: center;
          padding: 11px 20vw; } }
      /* line 1328, style.scss */
      .discuss-project-form-button input {
        background: transparent;
        border: none;
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
        /* 128.571% */
        letter-spacing: -0.154px; }

/* line 1344, style.scss */
.stages {
  background-color: #ffffff;
  height: 810px;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: 80px 52px 32px 566px 80px; }
  @media (max-width: 1439px) {
    /* line 1344, style.scss */
    .stages {
      height: 1340px;
      grid-template-columns: repeat(18, 1fr);
      grid-template-rows: 32px 40px 40px 1192px 36px; } }
  @media (max-width: 767px) {
    /* line 1344, style.scss */
    .stages {
      padding: 32px 16px 32px 20px;
      height: 1500px;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: 80px 36px 1316px; } }
  /* line 1361, style.scss */
  .stages-title {
    grid-column: 2/8;
    grid-row: 2/3;
    color: #101828;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 144%;
    letter-spacing: 0.326px; }
    @media (max-width: 1439px) {
      /* line 1361, style.scss */
      .stages-title {
        grid-column: 2/-4;
        font-size: 28px; } }
    @media (max-width: 767px) {
      /* line 1361, style.scss */
      .stages-title {
        grid-column: 1/-2;
        grid-row: 1/2; } }
  /* line 1379, style.scss */
  .stages-list {
    grid-column: 2/-2;
    grid-row: 4/5; }
    @media (max-width: 767px) {
      /* line 1379, style.scss */
      .stages-list {
        grid-column: 1/-1;
        grid-row: 3/4; } }
    /* line 1387, style.scss */
    .stages-list ul {
      width: 100%;
      height: 100%;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: space-between;
      flex-wrap: wrap;
      padding-left: 0px; }
      /* line 1396, style.scss */
      .stages-list ul li {
        width: 27vw;
        display: grid;
        padding: 24px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        border-radius: 12px;
        background-color: #FFF;
        box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.08), 0px 0px 2px 0px rgba(0, 0, 0, 0.08); }
        @media (max-width: 1439px) {
          /* line 1396, style.scss */
          .stages-list ul li {
            width: 87vw;
            grid-template-columns: repeat(5, 1fr); } }
        @media (max-width: 767px) {
          /* line 1396, style.scss */
          .stages-list ul li {
            width: 100%;
            grid-template-columns: repeat(8, 1fr); } }
    /* line 1415, style.scss */
    .stages-list-inf {
      grid-column: 1/5;
      grid-row: 1/2;
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start; }
      @media (max-width: 767px) {
        /* line 1415, style.scss */
        .stages-list-inf {
          grid-column: 1/6; } }
      /* line 1424, style.scss */
      .stages-list-inf-option {
        width: 14vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #101828;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        /* 120% */
        letter-spacing: 0.38px; }
        @media (max-width: 1439px) {
          /* line 1424, style.scss */
          .stages-list-inf-option {
            width: 20vw; } }
        @media (max-width: 767px) {
          /* line 1424, style.scss */
          .stages-list-inf-option {
            width: 100%; } }
        /* line 1441, style.scss */
        .stages-list-inf-option img {
          width: 48px;
          height: 48px; }
      /* line 1446, style.scss */
      .stages-list-inf-description {
        margin-top: 16px;
        color: #101828;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        /* 133.333% */
        letter-spacing: -0.24px; }
        @media (max-width: 1439px) {
          /* line 1446, style.scss */
          .stages-list-inf-description {
            font-size: 14px; } }
    /* line 1459, style.scss */
    .stages-list-img {
      grid-column: 4/5;
      grid-row: 1/2;
      display: flex;
      justify-content: flex-end;
      margin: -24px -24px -24px -40px;
      border-radius: 12px;
      overflow: hidden; }
      @media (max-width: 1439px) {
        /* line 1459, style.scss */
        .stages-list-img {
          grid-column: 5/6;
          justify-content: center;
          margin: -24px -24px -24px 20px; } }
      @media (max-width: 767px) {
        /* line 1459, style.scss */
        .stages-list-img {
          grid-column: 6/9;
          justify-content: flex-end;
          margin: -24px -24px -24px -24px; } }
      /* line 1477, style.scss */
      .stages-list-img img {
        height: 100%; }

/* line 1484, style.scss */
footer {
  width: 100vw;
  height: 223px;
  display: grid;
  grid-template-columns: repeat(14, 1fr); }
  @media (max-width: 1023px) {
    /* line 1484, style.scss */
    footer {
      height: 241px; } }
  @media (max-width: 767px) {
    /* line 1484, style.scss */
    footer {
      height: 350px; } }

/* line 1496, style.scss */
.footer {
  grid-column: 2/-2;
  background: #101828;
  max-height: 223px;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.08), 0px 0px 2px 0px rgba(0, 0, 0, 0.08);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 40px; }
  @media (max-width: 1023px) {
    /* line 1496, style.scss */
    .footer {
      grid-column: 1/-1;
      max-height: 241px; } }
  @media (max-width: 767px) {
    /* line 1496, style.scss */
    .footer {
      max-height: 350px;
      gap: 24px;
      justify-content: center;
      padding: 32px 0px 32px 16px; } }
  /* line 1517, style.scss */
  .footer-logo {
    width: 217px;
    height: 24px;
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.154px; }
  /* line 1527, style.scss */
  .footer-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center; }
    @media (max-width: 767px) {
      /* line 1527, style.scss */
      .footer-list {
        flex-wrap: wrap;
        justify-content: center; } }
    /* line 1536, style.scss */
    .footer-list li {
      width: 20.3vw;
      height: 0.277vw; }
      /* line 1539, style.scss */
      .footer-list li a {
        text-decoration: none;
        color: #FFF; }
      @media (max-width: 1023px) {
        /* line 1536, style.scss */
        .footer-list li {
          width: 22.9vw;
          height: 0.277vw; } }
      @media (max-width: 767px) {
        /* line 1536, style.scss */
        .footer-list li {
          width: 36vw;
          height: 12vw; } }
    /* line 1552, style.scss */
    .footer-list-sub {
      color: #98A2B3;
      /*font-family: SF Pro Text;*/
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: -0.154px;
      display: flex;
      align-items: center;
      margin-bottom: -16px; }
    /* line 1564, style.scss */
    .footer-list-img {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      padding-bottom: 2px; }
    /* line 1570, style.scss */
    .footer-list-inf {
      color: #FFF;
      /*font-family: SF Pro Text;*/
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: -0.408px;
      margin-top: -4px; }
      @media (max-width: 767px) {
        /* line 1570, style.scss */
        .footer-list-inf {
          font-size: 14px; } }
  /* line 1584, style.scss */
  .footer-ps {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 24px; }
    @media (max-width: 767px) {
      /* line 1584, style.scss */
      .footer-ps {
        margin-top: 0px; } }
    /* line 1592, style.scss */
    .footer-ps img {
      width: 30px;
      height: 16px; }
    /* line 1596, style.scss */
    .footer-ps span {
      color: #FFF;
      /*font-family: SF Pro Text;*/
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: -0.078px; }
