@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

:root{
    --twel: calc(100vw/12);
    --col: #2D66EE;
    --gr: #101828;
}

::-webkit-scrollbar{
    width: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

header{
    width: 100vw;
    height: 56px;
    border: 2px dotted red;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
}

    .header{
        grid-column:2/-3;
        background: #FFFFFF;
        max-height: 52px;
        padding: 16px 24px;
        border-radius: 12px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
    }

    .header a {
        text-decoration: none;
    }

        .header-element-logo{
            /*width: var(--twel);*/
            min-width: 85px;

        }

            .header-logo {
                font-size: calc(8px + 0.5vw);
                min-font-size: 13px;
                max-font-size: 20px;
            }

            .header-logo a {
                color: var(--col);
            }

        .header-element-menu{
            width: 22.5vw;
         }

            .header-menu {
                font-size: calc(4px + 0.5vw);
                min-font-size: 9px;
                max-font-size: 14px;
            }

            .header-menu a {
                color: var(--gr);
            }

        .header-element-link{
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            width: 32.77vw;
            min-width: 300px;
            border: 2px dotted red;
        }

            .header-tel {
                display: inline-flex;
                align-items: center;
                justify-content: space-between;
                font-size: calc(4px + 0.5vw);
                min-font-size: 8px;
                max-font-size: 14px;
                border: 2px dotted red;
                width: 20vw;
            }

                .header-link-tel{
                    padding: 0px 8px;
                }

                .header-image{
                    padding-right: 8px;
                    width: calc(13px + 0.5vw);
                    min-width: 19px;
                    max-width: 24px;
                }

                .header-link-email{

                }
            
            .header-email {
                display: inline-flex;
                align-items: center;
                justify-content: space-between;
                font-size: calc(4px + 0.5vw);
                min-font-size: 9px;
                max-font-size: 14px;
                border: 2px dotted red;
            }

            .header-link a {
                color: var(--col);
            }


.activity {
    background: #F2F4F7;
    grid-template-rows: 1fr 11fr;
    grid-row-gap: 20px;
}


